<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minsheng.controller.server">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_server"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TvRemoteController">
        <activity android:name=".ServerActivity"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".RemoteService" >
            <intent-filter android:priority="1000">
                <action android:name="com.minsheng.controller.server" />
            </intent-filter>
        </service>
        <receiver android:name=".RemoteReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.minsheng.controller.server.destroy"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>